
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    flex-direction: column;
    flex: 0 1 270px;
    padding: 10px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: aqua;
}
.row > .previous {
    display: flex;
    flex: 0 1 246px;
    border: black solid 1px;
    margin: 1px;
    border-radius: 5px;
    justify-content: end;
    align-items: center;
    padding: 0px 10px;
    min-height: 20px;
}


.row > .display {
    display: flex;
    flex: 0 1 246px;
    border: black solid 1px;
    margin: 1px;
    border-radius: 5px;
    justify-content: end;
    align-items: center;
    padding: 10px;
    min-height: 20px;
    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row > div {
    display: flex;
    flex: 0 1 50px;
    border: black solid 1px;
    margin: 1px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 0px;
    
}

.row .btn:hover {
    background-color: teal;
}

sup {
    position: relative;
    bottom: 3px;
}

@keyframes invalidShake {
    0% { transform: translateX(0); color: red; }
    25% { transform: translateX(5px);}
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0); }
}